/* star global rules */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fcdec0;
  margin: 0;
}
.home-body {
  background-image: url(../images/lines.svg);
  background-repeat: repeat-y;
  background-position-x: 10%;
  background-size: 15%;
}
@media (min-width: 1500px) {
  .home-body {
    background-position-x: 20vw;
    background-size: unset;
  }
}
h1 {
  font: bold 3vw "Merienda";
}
p {
  margin-top: 50px;
}
@media (max-width: 992px) {
  h1 {
    font-size: 35px;
    text-align: center;
  }
  p {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
  }
}
/* end global rules */

/* satrt sidebar */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #f4ede5;
  height: 100vh;
  width: 100%;
}
.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-container > img {
  width: 40%;
  max-width: 217px;
  margin-bottom: 20px;
}
.sidebar-container ul {
  list-style: none;
  padding: 0;
}
.sidebar-container ul li a {
  text-decoration: none;
  color: #7d5a50;
}
.sidebar-container ul li {
  text-align: center;
  margin: 30px 0;
  color: #7d5a50;
}
.sidebar-container > div:last-child {
  width: 15%;
  max-width: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.sidebar-container > div:last-child a {
  width: 35%;
}
.sidebar-container > div:last-child img {
  width: 100%;
}

.close-btn {
  position: absolute;
  top: 15%;
  right: 15%;
  cursor: pointer;
  width: 27px;
}
/* end sidebar */

/* start header */
#borger {
  cursor: pointer;
}
.home-coockie {
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
}
.order-coockie {
  position: absolute;
  width: 30%;
  right: -10%;
  top: -90%;
}
.order-coockie-center {
  position: fixed;
  left: 0;
  top: 50%;
  width: 20%;
}
.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  padding-top: 1%;
  background-color: #fcdec0;
  transition: 0.5s;
}
.home-body .nav-bar {
  background-image: url(../images/lines.svg);
  background-repeat: repeat-y;
  background-position-x: 10%;
  background-size: 15%;
}
@media (min-width: 1500px) {
  .home-body .nav-bar {
    background-position-x: 20vw;
    background-size: unset;
  }
}
.nav-bar .container .row {
  display: flex;
  align-items: flex-end;
}
.nav-bar-links {
  display: flex;
  justify-content: center;
}
.nav-bar-links li a {
  color: #7d5a50;
}
.nav.navbar-nav.pagination-lg a {
  margin: 10px 20px 5px;
}
.nav.navbar-nav.pagination-lg a:hover {
  background-color: unset;
}
@media (max-width: 1200px) {
  .nav-bar {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
}
/* end header */

/* start landing */
.landing {
  padding-top: 14%;
  height: 100vh;
  position: relative;
}
.intro-img {
  position: absolute;
  z-index: -1;
}
.landing .container .row h1 {
  color: #68361d;
}
.landing .container .row p {
  color: #683309;
}
.landing .bottom .contact-icone {
  position: absolute;
  bottom: 20px;
}
.landing .bottom {
  position: absolute;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../images/landing/bottom.svg);
  background-size: 100%;
  background-position-y: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}
@media (max-width: 1024px) {
  .landing .bottom {
    background-size: 200%;
  }
}
.landing .bottom > img {
  width: 100%;
}
@media (max-width: 375px) and (min-height: 812px) {
  .intro-img {
    margin-top: 50px;
  }
}
@media (max-width: 992px) {
  .intro-img {
    left: 0;
  }
  .landing .bottom .contact-icone {
    left: 50%;
    transform: translateX(-50%);
  }
}
/* end landing */

/* start about */
.about {
  margin-top: -2px;
  background-color: #b4846c;
}
.about .container {
  position: relative;
  margin-top: 0;
  height: 90vh;
}
.about .drink {
  position: absolute;
  right: -50px;
}
@media (min-width: 1500px) {
  .about .container {
    height: 50vh;
  }
  .about .drink {
    right: -150px;
  }
}
.about .biscuit-lg {
  width: 30%;
  position: absolute;
  left: 0;
}
.about .text {
  max-width: 600px;
  text-align: center;
}
.about .container h1 {
  color: #fff;
}
.about .container p {
  color: #fff;
}
@media (max-width: 1200px) {
  .about .drink {
    width: 70%;
    top: 140px;
    right: 50px;
  }
  .about .text {
    position: relative;
    left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  .about .container {
    display: flex;
    justify-content: flex-end;
  }
  .about .text {
    padding-top: 200px;
  }
}
/* end about */

/* start products */
.products {
  background-image: url(../images/product/background.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 70%;
  position: relative;
  padding-top: 16vw;
  padding-bottom: 9vmin;
  margin-top: -1px;
}
.oreder-product {
  background-image: none;
}
@media (min-width: 1400px) {
  .oreder-product {
    padding-top: 11vw;
  }
}
@media (max-width: 1200px) {
  .products {
    background-image: url(../images/product/background-sm.svg);
    background-size: 100%;
  }
}
.products > .img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.products > img:last-child {
  width: 100%;
  margin-top: -200px;
}
.products .container h1 {
  color: #68361d;
  text-align: center;
}
.products .container .cards-container .card {
  margin-top: 4vmin;
  padding-bottom: 4vmin;
  border-radius: 2vw;
  background: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 19px 0px rgb(0, 0, 0, 0.1);
}
.products .container .cards-container .card h3 {
  width: 100%;
  font-size: calc(1vw + 5px);
  padding: 0;
  margin-bottom: 0;
  font-weight: bold;
  color: #7d5a50;
  text-align: center;
}
.special-btn {
  color: #7d5a50;
  text-align: center;
  margin-top: calc(1vw + 5px);
  font-size: 2vmin;
  font-weight: bold;
  padding: 2%;
  border-radius: 2vw;
  border: 0;
  background-color: #fff;
  box-shadow: -4px 4px 0 0 #7d5a50;
}
a.special-btn:hover {
  color: #683310;
}
@media (max-width: 600px) {
  .special-btn {
    font-size: calc(2vmin + 1px);
  }
}
.arrows {
  margin: 40px 0;
}
.products > img:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
/* end products */

/* start contuct */
.contact {
  background-color: #7d5a50;
  margin-top: -5px;
  padding-top: 9vmin;
  padding-bottom: 9vmin;
  position: relative;
}
.contact h3 {
  font-family: "Merienda";
  font-size: 5vmin;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}
.lable {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 630px;
}
.lable * {
  font-size: 1vw;
}
.lable > select,
input[type="email"] {
  width: 100%;
  color: #fff;
  margin: 15px 0;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 1vw;
  opacity: 0.8;
}
.lable input[type="submit"] {
  width: 100%;
  color: #7d5a50;
  background-color: #fcdec0;
  font-weight: bold;
  padding: 1vw;
  margin: 15px 0;
  border: 0;
  border-radius: 1vmin;
  opacity: 0.8;
}
::placeholder {
  color: #fff;
}
.contact textarea {
  background-color: transparent;
  color: #fff;
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #fff;
  opacity: 0.8;
  resize: none;
}
.ep {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ep span {
  padding: 0 5px;
}
@media (max-width: 1024px) {
  .lable * {
    font-size: 2vw;
  }
  .lable > *:not(.ep):not(textarea) {
    padding: 2vw;
  }
}
.contact > img:last-child {
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
}
/* end contact */

/* start footer */
.footer {
  margin-top: -5px;
  position: relative;
  background-image: url(../images/footer/background.svg);
  background-size: 55vw;
  background-repeat: no-repeat;
  background-position-x: 130px;
}
.order-fotter {
  background-image: none;
}
@media (max-width: 1200px) {
  .footer {
    background: unset;
  }
}
.footer .container {
  padding-top: 5vh;
}
.footer .row {
  display: flex;
  justify-content: space-around;
}
.footer .logo {
  align-self: center;
}
.footer > img {
  width: 100%;
  position: relative;
  z-index: -1;
}
.footer .logo div a img {
  margin-top: 4vh;
  padding: 0 1vmin;
  width: 100%;
}
.footer .logo .cont {
  display: flex;
  justify-content: center;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  float: unset;
}
.links a {
  margin: 1vmin auto;
  font-size: 2vmin;
  font-weight: bold;
  color: #7d5a50;
  text-decoration: none;
}
.contact-links {
  padding-right: 0;
}
.contact-links > div {
  margin: 2vmin auto;
  color: #7d5a50;
  font-size: 2vmin;
  font-weight: 300;
}
.contact-links img {
  width: 6%;
}
.contact-links span {
  margin-left: 10px;
}
.footer > span {
  font-size: 2vmin;
  font-weight: 100;
  color: #fff;
  position: absolute;
  bottom: 2vmin;
  left: 0;
  text-align: center;
  width: 100%;
}
/* end footer */

/* start card */
.card-page {
  padding-top: 16vw;
  padding-bottom: 6vmin;
  color: #683309;
}
@media (min-width: 1400px) {
  .card-page {
    padding-top: 11vw;
  }
}
.card-page h1 {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.card-page h2,
.card-page h3 {
  margin-top: 2vmin;
  padding: 0;
  font-weight: bold;
  font-size: 19px;
}
.card-page h2 {
  font-size: 26px;
}
/* card //////////////////////*/
.card-page .card-container .cards {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
}
.card-page .card-container .card button {
  position: absolute;
  right: 3vmin;
  top: 2vmin;
  font-size: 4vmin;
  color: #683309;
  opacity: 0.7;
  cursor: inherit;
}
.card {
  margin: 1vw 0;
  padding: 0 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 1vmin;
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 6px 0px rgb(0, 0, 0, 0.1);
}
.card-page .card-container .card img {
  margin-top: 30px;
}
.card-page .card-container .card .box {
  margin-top: 1vw;
  font-size: calc(2vmin + 5px);
  text-align: center;
  padding: 2%;
  border-radius: 2vw;
  border: 0;
  background-color: #fff;
  box-shadow: -4px 4px 0 0 #7d5a50;
}
.card-page .card-container .card .box > span {
  font-size: 12px;
  font-weight: 300;
}
.card-page .card-container .card .dolar {
  margin-top: 1vw;
  font-size: calc(2vmin + 5px);
  text-align: center;
  padding: 2%;
}
/* card //////////////////////*/

/* summary //////////////////////*/
.card-page .card-container .summary {
  margin-top: 1vw;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1vmin;
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 6px 0px rgb(0, 0, 0, 0.1);
}
.card-page .card-container .summary span {
  font-size: 2vmin;
}
@media (max-width: 1200px) {
  .card-page .card-container .summary {
    margin-top: 7vw;
  }
  .card-page .card-container .summary span {
    font-size: calc(2vmin + 5px);
  }
}
.card-page .card-container .summary .datils {
  position: relative;
}
.card-page .card-container .summary .datils::before {
  content: "";
  border-style: solid;
  border-width: 9px;
  border-color: #7d5a50 transparent transparent transparent;
  border-radius: 6px;
  position: absolute;
  right: -22px;
  top: 30%;
}
.card-page .card-container .summary .datil {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .card-page .card-container .summary .total {
    margin-top: 45px;
  }
}
.card-page .card-container .summary hr {
  width: 100%;
  height: 2px;
  border: 0;
  background-color: #7d5a50;
}
.card-page .card-container .summary input {
  margin: 2vw 0 1vw;
  font-size: calc(2vmin + 5px);
  font-weight: bold;
  padding: 3% 7%;
  border-radius: 3vw;
  border: 0;
  background-color: #fff;
  box-shadow: -4px 4px 0 0 #7d5a50;
}
/* summary //////////////////////*/

/* start product-page */
.product-page {
  padding-top: 12vw;
  padding-bottom: 9vmin;
  color: #7d5a50;
}
@media (max-width: 600px) {
  .product-page {
    padding-top: 16vw;
  }
}
.product-page h2 {
  font-weight: bolder;
}
.product-page h4 {
  font-size: 4vmin;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}
.product-page .my-para {
  margin-top: 10px;
  max-width: 85%;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
}
.product-page .my-para-sm {
  padding: 0;
  margin-top: 10px;
  text-align: left;
}
.product-page button {
  text-align: center;
  font-weight: bolder;
}
.product-page .card {
  padding: 45px 20px;
}
.product-page .card-sm {
  padding: 20px 0;
}
.product-page .select {
  font-size: 1vw;
  font-weight: 300;
  color: #fff;
}
.special-btn-sm {
  margin-top: 6vh;
}
select.special-btn {
  margin-top: 0;
  font-weight: bolder;
}
select.special-btn * {
  text-align: left;
}
.product-page .quantity span {
  margin-top: calc(1vw + 5px);
  font-size: 2vmin;
  font-weight: bolder;
  padding: 2%;
  border-radius: 2vw;
  border: 0;
  background-color: #fff;
  box-shadow: -4px 4px 0 0 #7d5a50;
  text-align: center;
}
@media (max-width: 600px) {
  .product-page .special-btn {
    font-size: 3vmin;
  }
  .product-page .quantity .special-btn {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .product-page .quantity span {
    font-size: 3vmin;
    padding: 4% 2%;
  }
  .product-page .select {
    font-size: 2vmin;
  }
}
/* end product-page */
